<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/this/sieverules.css" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body onload="parent.rcmail.sieverules_disable_ruleset_options();" class="iframe">
<roundcube:object name="sieverulessetup" />
</body>
</html>
