/**
 * SieveRules plugin styles
 */

#rulesets
{
  position: absolute;
  top: 95px;
  right: 20px;
  height: 20px;
  text-align: right;
}

#mainscreen
{
  position: absolute;
  top: 85px;
  right: 20px;
  bottom: 20px;
  left: 20px;
}

#sieverules-list
{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 240px;
}

.sieverules-boxcontent
{
  position: absolute;
  top: 0;
  bottom: 23px;
  width: 100%;
}

#sieverules-list-filters
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid #999999;
  overflow: auto;
}

#sieverules-list-examples
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: 1px solid #999999;
  overflow: auto;
}

#sieverules-list div.boxfooter
{
  border: 1px solid #999999;
  border-top: 0;
  width: 100%;
}

#sieverules-details
{
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
  bottom: 0;
  border: 1px solid #999999;
}

#sieverules-advanced
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: 1px solid #999999;
}

span.disableLink
{
  float: right;
  width: 200px;
  text-align: right;
}

#sieverules-table,
#sieverules-examples
{
  width: 100%;
}

#sieverules-table tbody td
{
  cursor: pointer;
}

#sieverules-table tbody td.control,
#rules-table tbody td.control,
#actions-table tbody td.control
{
  text-align: right;
}

#rules-table tbody td.control,
#actions-table tbody td.control
{
  vertical-align: top;
}

#rules-table,
#actions-table,
#rules-table td table.records-table
{
  width: 100%;
}

#rules-table td.selheader,
#rules-table td.op
{
  width: 130px;
}

#rules-table td.header
{
  width: 135px;
}

#rules-table td.target
{
  width: 160px;
}

#rules-table input
{
  width: 150px;
}

#rules-table input.short
{
  width: 100px;
}

#rules-table select
{
  width: 123px;
}

#rules-table select.short
{
  width: 45px;
}

#rules-table select.long
{
  width: 157px;
}

#rules-table td table.records-table select
{
  width: 432px;
}

#rules-table td table.records-table input
{
  width: 426px;
}

#rules-table td table.records-table input.short
{
  width: 406px;
}

#rules-table td table.records-table input.radio
{
  width: auto;
}

#actions-table td.action
{
  width: 165px;
  vertical-align: top;
}

#actions-table td.folder
{
  width: 420px;
  vertical-align: top;
}

#actions-table td.action select
{
  width: 160px;
}

#actions-table td.folder input,
#actions-table td.folder textarea
{
  width: 400px;
}

#actions-table td.folder select
{
  width: 408px;
}

#actions-table td.folder table.records-table select
{
  width: 337px;
}

#actions-table td.folder table.records-table input,
#actions-table td.folder table.records-table textarea
{
  width: 330px;
}

#actions-table td.folder table.records-table input.short
{
  width: 310px;
}

#actions-table td.folder table.records-table input.checkbox
{
  width: auto;
}

table.records-table td.msg
{
  vertical-align: top;
}

table.records-table td.vacdaysexp
{
  width: 398px;
  white-space: -moz-pre-wrap !important;
  white-space: pre-wrap !important;
  white-space: pre;
}

#listbuttons
{
  position: absolute;
  bottom: 18px;
  left: 20px;
}

#advancedmode
{
  white-space: nowrap;
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 460px;
}

#sieverules-advancedbox
{
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 26px;
  right: 4px;
}

#sieverules-advanced textarea
{
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.droptarget
{
  border-top: 2px solid #000000;
}

.droptargetend
{
  border-bottom: 2px solid #000000;
}

#sieverulesrsdialog
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(0,0,0,0.5) !important;
  background: #333;
}

#sieverulesrsdialog h3
{
  color: #333;
  font-size: normal;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#sieverulesrsdialog form
{
  width: 32em;
  margin: 8em auto;
  padding: 1em 2em;
  background: #F6F6F6;
  border: 2px solid #555;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#sieverulesrsdialog table td.title
{
  color: #666;
  text-align: right;
  padding-right: 1em;
  white-space: nowrap;
}

#sieverulesrsdialog table td input
{
  width: 20em;
}

#sieverulesrsdialog .formbuttons
{
  margin-top: 1.5em;
  text-align: center;
}

input.inputmask
{
  color: #999999;
}

#sieverulesactionsmenu a.selected
{
  font-weight: bold;
}

#sieverules-advbuttons
{
  position: absolute;
  left: 40px;
  top: 1px;
}