/***** RoundCube|Mail sieverules plugin styles *****/

#rulesets
{
  position: absolute;
  top: 95px;
  right: 20px;
  height: 20px;
  text-align: right;
}

#mainscreen
{
  position: absolute;
  top: 95px;
  right: 20px;
  bottom: 60px;
  left: 20px;
  /* css hack for IE */
  width: expression((parseInt(document.documentElement.clientWidth)-40)+'px');
  height: expression((parseInt(document.documentElement.clientHeight)-155)+'px');
}

#sieverules-list
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  /* css hack for IE */
  height: expression(parseInt(this.parentNode.offsetHeight)+'px');
  width: 240px;
}

#sieverules-list-filters
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  width: 100%;
  border: 1px solid #999999;
  overflow: auto;
  /* css hack for IE */
  height: expression(parseInt(this.parentNode.offsetHeight)+'px');
  width: expression(parseInt(this.parentNode.offsetWidth)+'px');
}

#sieverules-list-examples
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 1px solid #999999;
  overflow: auto;
  /* css hack for IE */
  width: expression(parseInt(this.parentNode.offsetWidth)+'px');
}

#sieverules-details
{
  position: absolute;
  top: 0px;
  left: 250px;
  right: 0px;
  bottom: 0px;
  border: 1px solid #999999;
  /* css hack for IE */
  height: expression(parseInt(this.parentNode.offsetHeight)+'px');
  width: expression((parseInt(this.parentNode.offsetWidth)-250)+'px');
}

#sieverules-advanced
{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  border: 1px solid #999999;
  /* css hack for IE */
  height: expression((parseInt(document.documentElement.clientHeight)-155)+'px');
  width: expression((parseInt(document.documentElement.clientWidth)-40)+'px');
}

span.disableLink {
  float: right;
  width: 200px;
  text-align: right;
}

#sieverules-table, #sieverules-examples
{
  width: 100%;
  /* table-layout: fixed; */
  /* css hack for IE */
  /* width: expression('auto'); */
}

#sieverules-table tbody td
{
  cursor: pointer;
}

#sieverules-table tbody td.control, #rules-table tbody td.control, #actions-table tbody td.control
{
  text-align: right;
}

#rules-table tbody td.control, #actions-table tbody td.control
{
  vertical-align: top;
}

#rules-table, #actions-table, #rules-table td table.records-table
{
  width: 100%;
}

#rules-table td.selheader, #rules-table td.op
{
  width: 130px;
}

#rules-table td.header
{
  width: 135px;
}

#rules-table td.target
{
  width: 160px;
}

#rules-table input
{
  width: 150px;
}

#rules-table input.short
{
  width: 100px;
}

#rules-table select
{
  width: 123px;
}

#rules-table select.short
{
  width: 45px;
}

#rules-table select.long
{
  width: 150px;
}

#rules-table td table.records-table select
{
  width: 432px;
}

#rules-table td table.records-table input
{
  width: 426px;
}

#rules-table td table.records-table input.short
{
  width: 406px;
}

#rules-table td table.records-table input.radio
{
  width: auto;
}

#actions-table td.action
{
  width: 165px;
  vertical-align: top;
}

#actions-table td.folder
{
  width: 420px;
  vertical-align: top;
}

#actions-table td.action select
{
  width: 160px;
}

#actions-table td.folder input, #actions-table td.folder textarea
{
  width: 400px;
}

#actions-table td.folder select
{
  width: 408px;
}

#actions-table td.folder table.records-table select
{
  width: 337px;
}

#actions-table td.folder table.records-table input, #actions-table td.folder table.records-table textarea
{
  width: 330px;
}

#actions-table td.folder table.records-table input.short
{
  width: 310px;
}

#actions-table td.folder table.records-table input.checkbox
{
  width: auto;
}

table.records-table td.msg
{
  vertical-align: top;
}

table.records-table td.vacdaysexp
{
  width: 398px;
  white-space: -moz-pre-wrap !important;
  white-space: pre-wrap !important;
  white-space: pre;
  word-wrap: break-word; /* IE (and Safari) */
}

/* IE6 PNG fix */
img.nohtc
{
  behavior: none;
  border: 0;
}

#listbuttons
{
  position: absolute;
  bottom: 18px;
  left: 20px;
}

#advancedmode
{
  white-space: nowrap;
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 460px;
}

#sieverules-advancedbox
{
  position: absolute;
  top: 20px;
  left: 0px;
  bottom: 3px;
  right: 4px;
  /* css hack for IE */
  height: expression((parseInt(document.documentElement.clientHeight)-179)+'px');
  width: expression((parseInt(document.documentElement.clientWidth)-48)+'px');
}

#sieverules-advanced textarea
{
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0;
  width: 100%;
  height: 100%;
  /* css hack for IE */
  height: expression((parseInt(document.documentElement.clientHeight)-179)+'px');
  width: expression((parseInt(document.documentElement.clientWidth)-48)+'px');
}

.droptarget {
  border-top: 2px solid #000000;
}

.droptargetend {
  border-bottom: 2px solid #000000;
}


/* Ruleset name popup */

#sieverulesrsdialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(0,0,0,0.5) !important;
  background: #333;

  /** IE hacks */
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  width: expression(document.documentElement.clientWidth+'px');
  height: expression(document.documentElement.clientHeight+'px');
}

#sieverulesrsdialog h3 {
  color: #333;
  font-size: normal;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#sieverulesrsdialog form {
  width: 32em;
  margin: 8em auto;
  padding: 1em 2em;
  background: #F6F6F6;
  border: 2px solid #555;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#sieverulesrsdialog table td.title
{
  color: #666;
  text-align: right;
  padding-right: 1em;
  white-space: nowrap;
}

#sieverulesrsdialog table td input
{
  width: 20em;
}

#sieverulesrsdialog .formbuttons {
  margin-top: 1.5em;
  text-align: center;
}