/**
 * SieveRules plugin styles (tab styles)
 */

#settings-sections #settingstabpluginsieverules a
{
  background-image: url(listicons.png);
  background-position: 6px -2px;
}

#settings-sections #settingstabpluginsieverules.selected a
{
  background-image: url(listicons.png);
  background-position: 6px -25px;
}